.header {
  background-color: #2f4f4f;
  width: 100%;
  height: 3rem;
}

.header .logoZone {
  height: 3rem;
}

.header .navigation {
  height: 2rem;
}

.header .navigation .item {
  border: solid 1px;
  border-color: white;

  max-width: 120px;
  max-height: 80px;
  height: 2rem;
  line-height: 2rem;
}
