.header {
  /* background-color: linear-gradient(to bottom, #2f4f4f 40%, #2f4f4f); */
  background-color: #0d7877;
  width: 100%;
  height: 8rem;
}

.header .logoZone {
  height: 5rem;
  line-height: 5rem;
}

.header .navigation {
  height: 2rem;
}

.header .navigation .item {
  border: solid 1px;
  border-color: seagreen;
  border-radius: 10px;
  margin: 0px 10px 0px 10px;
  background-color: seagreen;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  max-width: 120px;
  text-align: center;
  max-height: 80px;
  height: 2rem;
  line-height: 2rem;
  display: inline-block;
  min-width: 100px;
}

.header .navigation .hamberger {
  max-width: 120px;
  text-align: center;
  width: 25px;
  margin: 3px 3px 0 3px;
  line-height: 2rem;
  display: inline-block;
}

.header .logo {
  width: 60px;
  margin: 10px 10px 10px 10px;
}

.main {
  display: block;
  width: 80%;
  height: 100vh;
  float: right;
  background-color: white;
}

.aside {
  display: inline-block;
  width: 0%;
  background: #cca;
  height: 100vh;
}

.footer {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 200px;
  height: 200px;
  background-color: black;
  color: lightgray;
}
